nav {
    width:90%;
    height: 10vh;
    position: absolute;
    bottom:20px;
    left: 20px;
  
}

#container {
    width:100%;
    max-width: 100vw;
    height:100vh;
    
    margin:auto;
    position:relative;
    overflow-x:scroll;
}
nav button { 
    display:inline-block;
    position: absolute;
    background:none;
    color: #FFFFFF;
    font-size:4em;
    border:50px;
    bottom: 2px;
}

nav button ::selection {
    background:none;
}

#prev {
    left: 30px;
    width: 50px      
}

#next {
right:30px;
width: 50px       
}

#slides {
    display:inline-block;
    position:relative;
    width:100%;
    min-height:100vh;
    margin: 0;
    padding: 0;
}

img{height: 100vh;
width: 100vw}
#slides li {
    display:inline-block;
    position:absolute;
    top:0px;
    width:100%;
    padding:0;
}

#slides li div {
    position:absolute;
    background-color:rgba(255,255,255,.75);
    border-radius: 10px;
    display:inline-block;
    padding:15px;
    bottom: 40px;
    left: 20px;
    width: 200px;
}

.title {
    display:block;

    font-weight:bold;
    margin-left: 45%;
    position: absolute;
    bottom: 50px;
    font-size: 20pt;
    color:white;
    font-family: 'raleway';
    
}

body{background-color:#d1fdff;
opacity: 0.9;
margin: 0;}
